body {
    background-color: #0E0A1B;
}

html {
    scroll-behavior: smooth;

    ::-webkit-scrollbar {
        width: 10px;

        @include media('<tablet') {
            width: 5px;
        }
    }

    ::-webkit-scrollbar-track {
        background-color: #0E0A1B;
    }

    ::-webkit-scrollbar-thumb {
        background: #231848;
        border-radius: 5px;
    }
}

.body_lock,
.popup_lock {
    overflow: hidden;
}

.container {
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.white_btn {
    border-radius: 30px;
    border: 1px solid #FFF;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.40);
    display: block;
    margin: 0 auto;
    width: 211px;
    text-align: center;
    padding: 12px;
    color: #121112;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.2px;
    transition: all .3s ease 0s;

    &:hover {
        background: #231848;
        color: #fff;
        transition: all .3s ease 0s;
    }
}

.white_text {
    background: linear-gradient(88deg, #FFF 6.17%, #E5D4F6 105.1%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.app_btn_wrap {
    display: flex;
    align-items: center;
    gap: 10px;

    @include media('<desktop') {
        justify-content: center;
    }
}

.app_link {
    max-width: 185px;
    width: 100%;
    animation: bouncing 3s ease infinite alternate;

    @include media('<phone_max') {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 0px 25px 15px rgba(141, 117, 255, 0.20);
        backdrop-filter: blur(56.599998474121094px);
    }

    img {
        width: 100%;
        height: 100%;
    }
}

@keyframes bouncing {
    0% {
        translate: 0 0;
    }

    100% {
        translate: 0 7px;
    }
}

@keyframes shine {
    0% {
        // opacity: 0.5;
        transform: scale(1);
    }

    50% {
        // opacity: 1;
        transform: scale(2);
    }

    100% {
        // opacity: 0.7;
        transform: scale(1);
    }
}

@keyframes roll {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate__fadeIn {
    --animate-duration: 4s;
}

.animate__flipInX {
    --animate-duration: 4s;
}

.animate__jackInTheBox {
    --animate-duration: 1s;
}

.popUp_container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 14;
}

.app_store_popUp {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 50px 25px;
    max-width: 335px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgba(97, 70, 146, 0.50);
    background: #0E0724;
    box-shadow: 0px 0px 104px 0px #270058;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 97%;
        height: 97.5%;
        border-radius: 15px;
        background: rgba(14, 7, 36);
        box-shadow: 0px 0px 64px 0px rgba(94, 25, 182, 0.20) inset;
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        top: -90px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #331664;
        filter: blur(64.93367004394531px);
        width: 214px;
        height: 194px;
        z-index: -1;
    }

    .rectanlge {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 98%;
        height: 98%;
        border-radius: 15px;
        background: linear-gradient(208deg, rgba(255, 255, 255, 0.80) 0%, #8D66BF 14%, #1A0B36 50.28%, rgba(141, 102, 191, 0.88) 86%, rgba(255, 255, 255, 0.80) 100%);
        z-index: -2;
    }

    .close_elem {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .tip {
        text-shadow: 0px 0px 20.25px rgba(212, 185, 255, 0.40);
        font-size: 20px;
        font-weight: 500;
        line-height: 110%;
        background: linear-gradient(88deg, #C8A6FF 6.17%, #7243BF 105.1%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .popup_title {
        text-shadow: 0px 0px 4px rgba(234, 221, 255, 0.40);
        font-size: 30px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -0.6px;
        background: linear-gradient(88deg, #FFF 6.17%, #E5D4F6 105.1%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .popup_text {
        color: rgba(255, 255, 255, 0.80);
        text-shadow: 0px 0px 20px rgba(26, 15, 51, 0.70);
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.2px;
    }

    form {
        width: 100%;
    }

    .input_wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 20px;
    }

    .label_name {
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 166%;
        text-transform: capitalize;
        margin-bottom: 5px;
    }

    .input_popup {
        color: #fff;
        font-size: 16px;
        width: 100%;
        border-radius: 20px;
        border: 1px solid #AA86F7;
        background: rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(12px);
        padding: 12px 16px;
        transition: all .3s ease 0s;

        &:focus {
            border: 1px solid #fff;
        }

        &::placeholder {
            color: rgba(255, 255, 255, 0.80);
            text-shadow: 0px 0px 20px rgba(26, 15, 51, 0.70);
            font-size: 16px;
            line-height: 140%;
            letter-spacing: 0.2px;
        }
    }

    .white_btn {
        width: 100%;
        box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.40);
    }

}

.popUp_active {
    display: flex;
}

.main_section {
    position: relative;
    overflow: hidden;
    @include adaptive-value("padding-top", 300, 100, 1);
    @include adaptive-value("padding-bottom", 200, 150, 1);

    &::before,
    &::after {
        position: absolute;
        content: '';
        height: 100%;
        width: 8%;
        top: 0;
        z-index: 5;
    }

    &::before {
        background: linear-gradient(270deg, rgba(14, 10, 27, 0.00) 0%, #0E0A1B 100%);
        left: 0;
    }

    &::after {
        background: linear-gradient(90deg, rgba(14, 10, 27, 0.00) 0%, #0E0A1B 100%);
        right: 0;
    }

    .bottom_shadow {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
        z-index: 5;
        background: linear-gradient(180deg, rgba(14, 10, 27, 0.00) 0%, #0E0A1B 100%);
    }

    .crystalls_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .person_img {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 4;
        max-width: 388px;
        width: 100%;

        @include media('<desktop') {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .landscape_img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 70%;

        @include media('<phone_max') {
            height: 55%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        position: relative;
        display: flex;
        align-items: center;

        @include media('<desktop') {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    .text_content {
        position: relative;
        z-index: 5;
        width: 45%;

        @include media('<desktop') {
            width: 100%;
        }
    }

    .mockup_wrapper {
        position: absolute;
        right: 0;
        top: -30%;
        width: 50%;
        height: 100%;
        min-width: 600px;

        @include media('<desktop') {
            position: relative;
            height: auto;
            z-index: 6;
            @include adaptive-value("min-width", 600, 450, 1);
        }
    }

    .zodiac {
        animation: roll 90s linear infinite;
    }

    .phone {
        position: absolute;
        top: 60%;
        left: 55%;
        transform: translate(-50%, -50%);
        width: 300px;
        @include adaptive-value("width", 300, 200, 1);

        @include media('<desktop') {
            top: 50%;
        }
    }



    .main_title {
        text-shadow: 0px 0px 5.25px rgba(212, 185, 255, 0.60);
        font-size: 64px;
        @include adaptive-value("font-size", 64, 40, 1);
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        text-transform: capitalize;
        background: linear-gradient(88deg, #FFF 6.17%, rgba(229, 212, 246, 0.60) 105.1%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 35px;

        @include media('<phone') {
            text-align: center;
        }
    }

    .fw400 {
        font-weight: 400;
    }

    .subtitle {
        text-shadow: 0px 0px 20.25px rgba(212, 185, 255, 0.40);
        @include adaptive-value("font-size", 36, 20, 1);
        font-style: italic;
        font-weight: 400;
        line-height: 110%;
        text-transform: capitalize;
        background: linear-gradient(88deg, #C8A6FF 6.17%, #7243BF 105.1%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include adaptive-value("margin-bottom", 255, 0, 1);
        --animate-delay: 1s;

        @include media('<desktop') {
            margin-bottom: 50px;
        }
    }

    .app_btn_wrap {
        display: flex;

        @include media('<desktop') {
            display: none;
        }
    }

    .phone_wrap {
        display: none;

        @include media('<desktop') {
            display: flex;
            position: relative;
            z-index: 6;
            margin-top: -55px;
        }
    }
}

.journey {
    position: relative;
    overflow: hidden;
    padding: 220px 0 170px 0;
    @include adaptive-value("padding-top", 220, 260, 1);
    z-index: 10;
    margin-top: -70px;

    @include media('<phone_max') {
        margin-top: 0;
    }

    .star {
        position: absolute;
        animation: shine 4s ease infinite alternate;
        background-color: #0E0A1B;
    }

    .journey_star_1 {
        top: 25%;
        left: 25%;
        animation-delay: 1s;

        @include media('<phone') {
            top: 75%;
        }
    }

    .journey_star_2 {
        top: 50%;
        left: 5%;
        animation-delay: 1.5s;

        @include media('<phone') {
            top: 79%;
        }
    }

    .journey_star_3 {
        bottom: 10%;
        left: 25%;
        animation-delay: 2s;


        @include media('<phone') {
            left: 50%;
        }
    }

    .journey_star_4 {
        top: 28%;
        right: 12%;
        animation-delay: 2.5s;

        @include media('<phone') {
            top: 80%;
        }
    }

    .journey_star_5 {
        top: 60%;
        right: 1%;
        animation-delay: 3s;

        @include media('<phone') {
            top: 90%;
        }
    }

    .journey_star_6 {
        bottom: 5%;
        right: 45%;
        animation-delay: 3.5s;

        @include media('<phone') {
            right: 55%;
        }
    }

    .journey_img_wrap {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 510px;
        // overflow: hidden;


        &::before {
            content: '';
            position: absolute;
            top: 30%;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 442px;
            opacity: 0.7;
            border-radius: 50%;
            background: #231848;
            filter: blur(137px);

            @include media('<phone_max') {
                top: 50%;
            }
        }
    }

    .journey_img {
        width: 100%;
        height: 100%;
    }

    .journey_img_1 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        animation: moon 2.5s linear;
        transform-origin: bottom;
    }

    @keyframes moon {
        0% {
            opacity: 0;
            transform: rotate(-180deg);
        }

        100% {
            opacity: 1;
            transform: rotate(0deg);
        }
    }

    .journey_img_name {
        color: #A89DFF;
        text-align: center;
        text-shadow: 0px 0px 20px rgba(26, 15, 51, 0.70);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 1.44px;
        position: absolute;
        bottom: 30%;
        left: 50%;
        transform: translateX(-50%);
    }

    .title {
        position: relative;
        z-index: 2;
        max-width: 980px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        text-shadow: 0px 0px 25px rgba(141, 117, 255, 0.20);
        @include adaptive-value("font-size", 48, 30, 1);
        font-weight: 400;
        line-height: 120%;
        text-transform: capitalize;
        background: linear-gradient(88deg, #FFF 6.17%, rgba(229, 212, 246, 0.60) 105.1%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

#features {
    background-color: #0E0A1B;
}

.features {
    padding: 100px 0;
    overflow: hidden;

    .content {
        text-align: center;
        position: relative;
    }

    .tip {
        color: #9182FF;
        text-shadow: 0px 0px 20px rgba(26, 15, 51, 0.70);
        @include adaptive-value("font-size", 18, 16, 1);
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 1.44px;
        display: inline-block;
        margin-bottom: 25px;
        text-transform: uppercase;
        animation: flipInX;
        animation-duration: 3s;
    }

    .features_title {
        @include adaptive-value("font-size", 48, 30, 1);
        font-weight: 400;
        line-height: 120%;
        text-transform: capitalize;
        background: linear-gradient(88deg, rgba(255, 255, 255, 0.80) 6.17%, rgba(229, 212, 246, 0.48) 105.1%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 10px;
    }

    .features_text {
        color: rgba(255, 255, 255, 0.80);
        text-shadow: 0px 0px 20px rgba(26, 15, 51, 0.70);
        @include adaptive-value("font-size", 20, 18, 1);
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0.2px;
        max-width: 560px;
        width: 100%;
        margin: 0 auto;
        @include adaptive-value("margin-bottom", 35, 20, 1);
    }

    .features_list,
    .features_item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

    .features_list {
        flex-wrap: wrap;
        row-gap: 15px;
        position: relative;
        // z-index: 2;



        @include media('<phone_max') {
            flex-direction: column;
        }
    }

    .item_name {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.80);
        text-shadow: 0px 0px 20px rgba(26, 15, 51, 0.70);
        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0.2px;
    }


    .second_star {
        display: none;

        @include media('<phone') {
            display: block;
        }
    }

    .item_active {
        text-shadow: 0px 0px 40px #FFF;
        color: #FFF;
        transition: all .3s ease 0s;
    }

    .features_swiper {

        @include media('<phone_max') {
            margin-bottom: 30px;
        }

        .swiper-slide-active .slider_img {
            transform: none;
            box-shadow: 0px 0px 25px 0px rgba(141, 117, 255, 0.60);
            border-radius: 20px;
        }
    }

    .swiper {
        @include adaptive-value("padding-top", 70, 40, 1);
        @include adaptive-value("padding-bottom", 120, 30, 1);
        overflow: visible;
    }

    .swiper-slide {
        perspective: 1000px;
        transform-style: preserve-3d;
        transition: transform 1.5s ease;
        z-index: 0;
        user-select: none;
        animation: bouncing 3s ease infinite alternate;
    }

    .swiper-slide .slider_img {
        border-radius: 20px;
        transform: translateY(60%) scale(0.6);
        transition: transform 1.5s ease;
        will-change: transform;
        cursor: pointer;
    }

    .swiper-slide-active {
        z-index: 3;

        @include media('<tablet') {
            transform: scale(1.1);
        }
    }

    .swiper-slide-active .slider_img {
        transform: none;
    }

    .swiper-slide:has(+ .swiper-slide-prev):hover .slider_img {
        transform: rotateX(7deg) rotateY(25deg) skew(35deg, -25deg) scale(0.85, 0.75) translate(-15%, 35%);
    }

    .swiper-slide-prev:hover .slider_img {
        transform: rotateY(7deg) skew(15deg, -10deg) scale(0.93) translate(-15%, 13%);
    }

    .swiper-slide-active:hover .slider_img {
        transform: rotateX(-20deg);
    }

    .swiper-slide-next:hover .slider_img {
        transform: rotateY(-7deg) skew(-15deg, 10deg) scale(0.93) translate(15%, 13%);
    }

    .swiper-slide-next+.swiper-slide:hover .slider_img {
        transform: rotateX(7deg) rotateY(-25deg) skew(-35deg, 25deg) scale(0.85, 0.75) translate(15%, 35%);
    }

    .swiper-slide-prev,
    .swiper-slide-next {
        z-index: 2;
    }

    .swiper-slide-prev .slider_img {
        transform: rotateY(20deg) skew(15deg, -10deg) scale(0.88) translate(-15%, 5%);
    }

    .swiper-slide-next .slider_img {
        transform: rotateY(-20deg) skew(-15deg, 10deg) scale(0.88) translate(15%, 5%);
    }

    .swiper-slide-next+.swiper-slide,
    .swiper-slide:has(+ .swiper-slide-prev) {
        z-index: 1;
    }

    .swiper-slide-next+.swiper-slide .slider_img {
        transform: rotateX(20deg) rotateY(-25deg) skew(-35deg, 25deg) scale(0.75, 0.65) translate(15%, 35%);
    }

    .swiper-slide:has(+ .swiper-slide-prev) .slider_img {
        transform: rotateX(20deg) rotateY(25deg) skew(35deg, -25deg) scale(0.75, 0.65) translate(-15%, 35%);
    }

    .btn_swiper {
        padding: 0;

        .swiper-wrapper {
            transition: none !important;
        }
    }
}

.hot_it_works {
    overflow: hidden;
    position: relative;

    @include media('<phone') {
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 541px;
            background: #231848;
            filter: blur(137px);
            width: 100%;
            height: 20%;
            z-index: -1;
        }
    }

    .features_title,
    .features_text {
        padding: 0 15px;
        position: relative;
        z-index: 2;
    }

    .cards_swiper {
        @include adaptive-value("margin-top", -270, -125, 1);
        // z-index: -1;
        padding-bottom: 150px;

        @include media('<phone') {
            padding-bottom: 130px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: linear-gradient(180deg, #0F0B1D 0%, rgba(15, 11, 29, 0.00) 100%);
        }
    }

    .white_btn {
        margin-top: -50px;
        position: relative;
        z-index: 2;
    }
}

.testimonials {
    .swiper {
        padding: 60px 0 100px 0;
        margin-bottom: 40px;
    }

    .slide_img {
        width: 300px;
        box-shadow: 20px 0px 84px 0px #0A0713;
    }

    .swiper-slide {

        @include media('>1024px') {
            width: max-content;
        }

        &:nth-child(1) {
            transform: rotateZ(-3deg) translate(15px, 50px);
            z-index: 3;
        }

        &:nth-child(2) {
            transform: rotateZ(3deg);
            z-index: 2;
        }

        &:nth-child(3) {
            transform: rotateZ(-3deg) translate(-25px, 30px);
            z-index: 1;
        }

        &:nth-child(4) {
            transform: rotateZ(3deg) translate(-45px, 15px);
        }
    }

    .swiper-slide-active {
        z-index: 4 !important;
        transform: rotateZ(0deg) translate(0, 15px) !important;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.20);
    }

    .swiper-pagination-bullet-active {
        background-color: #E0A0FF;
        filter: drop-shadow(0px 0px 12.5px #FDA7FF);
        backdrop-filter: blur(56.599998474121094px);
    }
}

.language {
    position: relative;
    padding-bottom: 165px;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(0deg, #0F0B1D 0%, rgba(15, 11, 29, 0.00) 100%);

        z-index: -1;
    }

    .planet {
        position: absolute;
        bottom: -20%;
        left: 0;
        width: 100%;
        height: auto;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .features_title {
        margin-bottom: 40px
    }

    .lang_icons_wrap {
        @include adaptive-value("margin-bottom", 60, 40, 1);
        @include adaptive-value("column-gap", 25, 20, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 25px;
    }

    .icon {
        @include adaptive-value("width", 50, 40, 1);
        @include adaptive-value("height", 50, 40, 1);
    }

    .lang_tip {
        color: rgba(255, 255, 255, 0.80);
        text-align: center;
        text-shadow: 0px 0px 4px rgba(234, 221, 255, 0.40);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0.2px;
        display: inline-block;
        margin-bottom: 20px
    }
}

.app {
    position: relative;
    @include adaptive-value("padding-bottom", 185, 150, 1);

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 994px;
        opacity: 0.3;
        background: #231848;
        filter: blur(137px);
        width: 69%;
        height: 50%;

        @include media('<phone_max') {
            height: 80%;
            top: 15%;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(180deg, #0F0B1D 0%, rgba(15, 11, 29, 0) 100%);
        z-index: -1;
    }

    .star {
        position: absolute;
        background-color: #0E0A1B;
        z-index: -1;
        animation: shine 5s ease infinite alternate;
    }

    .app_star_1 {
        top: 10%;
        left: 20%;
        animation-delay: 0.5s;
    }

    .app_star_2 {
        top: 60%;
        left: 10%;
        animation-delay: 1.5s;
    }

    .app_star_3 {
        top: 40%;
        left: 25%;
        animation-delay: 0.5s;
    }

    .app_star_4 {
        top: 10%;
        left: 20%;
        animation-delay: 2.5s;
    }

    .app_star_5 {
        top: 85%;
        left: 17%;
        animation-delay: 0.5s;
    }

    .app_star_6 {
        top: 10%;
        right: 29%;
        animation-delay: 1.5s;
    }

    .app_star_7 {
        top: 60%;
        right: 14%;
        animation-delay: 0.5s;
    }

    .app_star_8 {
        top: 40%;
        right: 35%;
        animation-delay: 2.5s;
    }

    .app_star_9 {
        top: 34%;
        right: 20%;
        animation-delay: 0.5s;
    }

    .app_star_10 {
        top: 85%;
        right: 27%;
        animation-delay: 1.5s;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 3;
    }

    .features_title {
        margin-bottom: 50px;
    }

    .app_btn_wrap {
        justify-content: center;
        @include adaptive-value("margin-bottom", 120, 100, 1);
    }

    .app_link {
        box-shadow: 0px 0px 40px 5px rgba(141, 117, 255, 0.20);
        backdrop-filter: blur(56.599998474121094px);
        border-radius: 8px;
        overflow: hidden;
    }

    .app_img_wrap {
        position: relative;
        max-width: 550px;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mockup {
        position: absolute;
        top: -30px;
        left: 0;
        max-width: 515px;
        width: 100%;
        z-index: 1;
    }

    .planet {
        animation-duration: 1.3s;
        border-radius: 448.047px;
        box-shadow: -43.081px -39.635px 193.005px 0px rgba(201, 149, 244, 0.20), 0px 0px 206.791px 0px rgba(237, 223, 253, 0.06);
    }
}

.hot_it_works_page {
    padding-bottom: 100px;
    @include adaptive-value("padding-top", 100, 50, 1);

    .content {
        max-width: 1030px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        @include adaptive-value("gap", 80, 60, 1);
    }

    .main_title {
        text-align: center;
        text-shadow: 0px 0px 6px rgba(234, 221, 255, 0.30);
        @include adaptive-value("font-size", 48, 40, 1);
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        text-transform: capitalize;
        background: linear-gradient(87deg, #FFF 6.14%, rgba(229, 212, 246, 0.90) 95.63%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include adaptive-value("margin-bottom", 80, 50, 1);
    }

    .card_wrap {
        &:nth-child(even) {
            .card_content {
                flex-direction: row-reverse;

                @include media('<tablet') {
                    flex-direction: column;
                }
            }
        }
    }

    .card_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        @include media('<tablet') {
            flex-direction: column;
        }
    }

    .anchor {
        position: relative;
        top: -230px;
        width: 0;
        height: 0;

        @include media('<phone_max') {
            top: -190px;
        }
    }

    .card_img {
        max-width: 388px;
        width: 100%;

        @include media('<tablet') {
            @include adaptive-value("height", 652, 367, 1);
            @include adaptive-value("width", 388, 220, 1);
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .card_text {
        max-width: 522px;
        width: 100%;
    }

    .number {
        color: #A89DFF;
        text-align: center;
        text-shadow: 0px 0px 20px rgba(26, 15, 51, 0.70);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 1.44px;
        text-transform: uppercase;
        display: inline-block;
        @include adaptive-value("margin-bottom", 25, 10, 1);
    }

    .card_title {
        text-shadow: 0px 0px 4px rgba(234, 221, 255, 0.40);
        @include adaptive-value("font-size", 32, 24, 1);
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        text-transform: capitalize;
        background: linear-gradient(88deg, #FFF 6.17%, #E5D4F6 105.1%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 10px;
    }

    .card_text {
        color: rgba(255, 255, 255, 0.80);
        @include adaptive-value("font-size", 20, 16, 1);
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0.2px;
    }
}

.functions_page {

    .card_wrap {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 283px;
            opacity: 0.3;
            background: #231848;
            filter: blur(80px);
            max-width: 283px;
            width: 100%;
            height: 273px;
            z-index: -1;
        }
    }

    .card_img,
    .card_text {
        max-width: 100%;
    }

    .card_img {
        @include media('<tablet') {
            width: auto;
            height: auto;
        }

    }

}