<header id="header" class="header header_work">
    <div class="container">
        <div class="header_content">
            <a href="index.html" class="logo">
                <img src="./images/logo.svg" alt="logo">
            </a>
            <nav class="menu">
                {{> menu }}
                <div class="app_btn_wrap">
                    <a href="#" target="_blank" class="app_link app_store_btn">
                        <img src="./images/main/App_Store.webp" alt="App Store">
                    </a>
                    <a href="#" target="_blank" class="app_link">
                        <img src="./images/main/Google_Play.webp" alt="Google Play">
                    </a>
                </div>
            </nav>
            <div class="burger_menu">
                <span></span>
            </div>
        </div>
        <div class="page_nav_menu">
            <ul class="page_nav_menu-list" id="menu">
                <li class="page_nav_menu-wrap">
                    <a class="page_nav_menu-item" href="#card_1">
                        <img class="item_img" src="./images/nav_icons/icons_works/icon_1.svg" alt="icon">
                        <p class="item_name">Chinese <span class="hidden_word">astrology</span></p>
                    </a>
                </li>
                <li class="page_nav_menu-wrap">
                    <a class="page_nav_menu-item" href="#card_2">
                        <img class="item_img" src="./images/nav_icons/icons_works/icon_2.svg" alt="icon">
                        <p class="item_name">Mayan <span class="hidden_word">astrology</span></p>
                    </a>
                </li>
                <li class="page_nav_menu-wrap">
                    <a class="page_nav_menu-item" href="#card_3">
                        <img class="item_img" src="./images/nav_icons/icons_works/icon_3.svg" alt="icon">
                        <p class="item_name">Western <span class="hidden_word">astrology</span></p>
                    </a>
                </li>
                <li class="page_nav_menu-wrap">
                    <a class="page_nav_menu-item" href="#card_4">
                        <img class="item_img" src="./images/nav_icons/icons_works/icon_4.svg" alt="icon">
                        <p class="item_name">Vedic <span class="hidden_word">astrology</span></p>
                    </a>
                </li>
                <li class="page_nav_menu-wrap">
                    <a class="page_nav_menu-item" href="#card_5">
                        <img class="item_img" src="./images/nav_icons/icons_works/icon_5.svg" alt="icon">
                        <p class="item_name">Hellenistic <span class="hidden_word">astrology</span></p>
                    </a>
                </li>
                <li class="page_nav_menu-wrap">
                    <a class="page_nav_menu-item" href="#card_6">
                        <img class="item_img" src="./images/nav_icons/icons_works/icon_6.svg" alt="icon">
                        <p class="item_name">Egyptian <span class="hidden_word">astrology</span></p>
                    </a>
                </li>
                <li class="page_nav_menu-wrap">
                    <a class="page_nav_menu-item" href="#card_7">
                        <img class="item_img" src="./images/nav_icons/icons_works/icon_7.svg" alt="icon">
                        <p class="item_name">Celtic <span class="hidden_word">astrology</span></p>
                    </a>
                </li>
                <li class="page_nav_menu-wrap">
                    <a class="page_nav_menu-item" href="#card_8">
                        <img class="item_img" src="./images/nav_icons/icons_works/icon_8.svg" alt="icon">
                        <p class="item_name">Tibetan <span class="hidden_word">astrology</span></p>
                    </a>
                </li>
                <li class="page_nav_menu-wrap">
                    <a class="page_nav_menu-item" href="#card_9">
                        <img class="item_img" src="./images/nav_icons/icons_works/icon_9.svg" alt="icon">
                        <p class="item_name">Arabic <span class="hidden_word">astrology</span></p>
                    </a>
                </li>
                <li class="page_nav_menu-wrap">
                    <a class="page_nav_menu-item" href="#card_10">
                        <img class="item_img" src="./images/nav_icons/icons_works/icon_10.svg" alt="icon">
                        <p class="item_name">Uranian <span class="hidden_word">astrology</span></p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>