<header id="header" class="header">
    <div class="container">
        <div class="header_content">
            <a href="index.html" class="logo">
                <img src="./images/logo.svg" alt="logo">
            </a>
            <nav class="menu">
                {{> menu }}
                <div class="app_btn_wrap">
                    <a href="#" target="_blank" class="app_link app_store_btn">
                        <img src="./images/main/App_Store.webp" alt="App Store">
                    </a>
                    <a href="#" target="_blank" class="app_link">
                        <img src="./images/main/Google_Play.webp" alt="Google Play">
                    </a>
                </div>
            </nav>
            <div class="burger_menu">
                <span></span>
            </div>
        </div>
    </div>
</header>