<header id="header">
    <div class="container">
        <div class="header_content">
            <a href="index.html" class="logo">
                <img src="./images/logo.svg" alt="logo">
            </a>
            <nav class="menu">
                <ul class="menu_list">
                    <li class="menu_item"><a class="menu_link" href="#features">OUR FEATURES</a></li>
                    <li class="menu_item"><a class="menu_link" href="#hot_it_works">HOW IT WORKS</a></li>
                    <li class="menu_item"><a class="menu_link" href="#testimonials">testimonials</a></li>
                    <li class="menu_item"><a class="menu_link" href="#language">International</a></li>
                    <li class="menu_item"><a class="menu_link" href="#app">Download</a></li>
                </ul>
                <div class="app_btn_wrap">
                    <a href="#" target="_blank" class="app_link">
                        <img src="./images/main/App_Store.webp" alt="App Store">
                    </a>
                    <a href="#" target="_blank" class="app_link">
                        <img src="./images/main/Google_Play.webp" alt="Google Play">
                    </a>
                </div>
            </nav>
            <div class="burger_menu">
                <span></span>
            </div>
        </div>
    </div>
</header>