<header id="header" class="header header_work header_functions">
    <div class="container">
        <div class="header_content">
            <a href="index.html" class="logo">
                <img src="./images/logo.svg" alt="logo">
            </a>
            <nav class="menu">
                {{> menu }}
                <div class="app_btn_wrap">
                    <a href="#" target="_blank" class="app_link app_store_btn">
                        <img src="./images/main/App_Store.webp" alt="App Store">
                    </a>
                    <a href="#" target="_blank" class="app_link">
                        <img src="./images/main/Google_Play.webp" alt="Google Play">
                    </a>
                </div>
            </nav>
            <div class="burger_menu">
                <span></span>
            </div>
        </div>
        <div class="page_nav_menu">
            <ul class="page_nav_menu-list" id="menu">
                <li class="page_nav_menu-wrap">
                    <a class="page_nav_menu-item" href="#card_1">
                        <img class="item_img" src="./images/nav_icons/icon_functions/icon_1.svg" alt="icon">
                        <p class="item_name">Daily Prediction</p>
                    </a>
                </li>
                <li class="page_nav_menu-wrap">
                    <a class="page_nav_menu-item" href="#card_2">
                        <img class="item_img" src="./images/nav_icons/icon_functions/icon_2.svg" alt="icon">
                        <p class="item_name">Prediction Chat</p>
                    </a>
                </li>
                <li class="page_nav_menu-wrap">
                    <a class="page_nav_menu-item" href="#card_3">
                        <img class="item_img" src="./images/nav_icons/icon_functions/icon_3.svg" alt="icon">
                        <p class="item_name">Natal Chart</p>
                    </a>
                </li>
                <li class="page_nav_menu-wrap">
                    <a class="page_nav_menu-item" href="#card_4">
                        <img class="item_img" src="./images/nav_icons/icon_functions/icon_4.svg" alt="icon">
                        <p class="item_name">Dream Book</p>
                    </a>
                </li>
                <li class="page_nav_menu-wrap">
                    <a class="page_nav_menu-item" href="#card_5">
                        <img class="item_img" src="./images/nav_icons/icon_functions/icon_5.svg" alt="icon">
                        <p class="item_name">Compatibility</p>
                    </a>
                </li>
                <li class="page_nav_menu-wrap">
                    <a class="page_nav_menu-item" href="#card_6">
                        <img class="item_img" src="./images/nav_icons/icon_functions/icon_6.svg" alt="icon">
                        <p class="item_name">Totem Animal</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>