<ul class="menu_list">
    <li class="menu_item"><a class="menu_link" href="index.html#features">OUR FEATURES</a></li>
    <li class="menu_item"><a class="menu_link" href="index.html#hot_it_works">HOW IT WORKS</a></li>
    <li class="menu_item"><a class="menu_link" href="index.html#testimonials">testimonials</a></li>
    <li class="menu_item"><a class="menu_link" href="index.html#language">International</a></li>
    <li class="menu_item"><a class="menu_link" href="index.html#app">Download</a></li>
</ul>