@font-face {
    font-family: "TTNeoris-Rg";
    src: url("../fonts/TTNeoris-Rg.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "TTNeoris-Md";
    src: url("../fonts/TTNeoris-Md.ttf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "TTNeoris-Db";
    src: url("../fonts/TTNeoris-DmBd.ttf");
    font-style: normal;
    font-weight: 800;
}