@font-face {
    font-family: "TTNeoris";
    src: url("../fonts/TTNeoris-Rg.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "TTNeoris";
    src: url("../fonts/TTNeoris-Md.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "TTNeoris";
    src: url("../fonts/TTNeoris-DmBd.ttf");
    font-style: normal;
    font-weight: 800;
}